{% include 'user/user_header.html' %}


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="image_file">Upload an Image:</label>
    <input type="file" name="image_file" id="image_file" accept="image/*" required>
    <button type="submit">Upload and Summarize</button>
</form>

{% if extracted_text %}
    <h2>Extracted Text from Image:</h2>,
    
    <pre>{{ extracted_text }}</pre>

{% endif %}

{% if summarized_text %}
    <h2>Summarized Text:</h2>
    <pre>{{ summarized_text }}</pre>
{% endif %}
{% include 'user/user_footer.html' %}