{% include 'user/user_header.html' %}
<br>
<br>
<br>
<!-- <form action="" method="post">
    <textarea name="feedback" id=""></textarea>
    <br>
    <input type="submit" value="Send" name="submit">
</form> -->
    <form action="" method="post">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Feedbacks</h6>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here"
                        id="floatingTextarea" name="feedback" style="height: 150px;"></textarea>
                    <label for="floatingTextarea">Feedback</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" name="submit">Send</button>
            </div>
        </div>
    </form>
{% include 'user/user_footer.html' %}